.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;

  .inside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // padding: 10px 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .mainPage {
    .inside {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

