.footer {
  background: #f3f3f3;
  width: 100%;
  padding: 20px 60px;
  margin-top: 30px;

  &__content {
    display: flex;
    column-gap: 70px;
    margin: 0 auto;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
    color: #202020;
  }

  &__left {
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 13px;
    }
  }

  &__right {
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 13px;
      max-width: 400px;
      list-style-type: none;

      li,
      a {
        line-height: 20px;
      }
    }
  }

  &__bottom {
    padding: 1rem 1rem 0 1rem;
    margin-top: 25px;

    p {
      text-align: center;
      margin-top: 17px;
    }
  }
}


