.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    &__title {
      font-size: 30px;
      color: #111111;
      margin-bottom: 15px;
    }
    &__form {
      width: 600px;
    }
    &__formgroup {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__formlabel {
      margin: 5px;
      font-size: 20px;
      font-weight: 500;
      color:  #495e74;
    }
    &__forminput {
      width: 100%;
      border-radius: 10px;
      border: 1px solid #778697;
      font-size: 30px;
      padding: 15px;
    }
    &__btn {
      width: 100%;
      text-align: center;
      cursor: pointer;
      background-color: #397ADE;
      border: none;
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 25px;
    }
    &__footer{
      margin: 10px 0;
      font-size: 25px;
      color: #111111;
    }
  }
  
  
